.card {
  border-radius: 15px;
  padding: 20px;
}

.question-container {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
}

.btn-primary {
  background-color: #283618;
  border-color: #283618;
}

.btn-primary:hover {
  background-color: #606C38;
  border-color: #606C38;
}

